@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Michroma&display=swap");
@import "tailwindcss";
@import "tw-animate-css";


* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: sans-serif;
}

.font-michroma {
  font-family: "Michroma";
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

video {
  pointer-events: none;
}
